<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"></meta>
    <title>Reservation System</title>
    <style>
        p{
            border: 2px solid black;
            padding: 5px;
            width: 25%;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>The Current Date and Time is: </h1>
    <p>{{ time }}</p>
</body>
</html>