<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sessions Words</title>
        <style>
            .container{
                width: 100%
            }
            .column{
                width: 40%;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="column">
                <form action="/add" method="post">
                    <h4>Add a new word</h4>
                    {% csrf_token %}
                    <input type="text" name="word"><br>
                    <label for="color">Choose color</label><br>
                    <input type="hidden" name="color" value="black">
                    Red<input type="radio" name="color" value="red">
                    Green<input type="radio" name="color" value="green">
                    Blue<input type="radio" name="color" value="blue"><br>
                    <label for="big">show in BIG fonts!</label>
                    <input type="hidden" name="big_font" value="0">
                    <input type="checkbox" name="big_font" value="1"><br>
                    <input type="submit" value="Add to Session">
                </form>
            </div>
            <div class="column">
                <form action="/clear">
                    <input class="button" type="submit" value="Clear the Session">
                </form>
                {% for item in request.session.data reversed%}
                <p style='color: {{item.color}}; font-size: {{item.font}}px'>{{item.word}} - added on {{item.time}}</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>