<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books and Authors</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"></meta>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
    <style>
        p{
            font-size: 14px;
            font-family:cursive;
        }
    </style>
</head>
<body>
    <div class="container">
       <h1> The Books and Authors</h1>
    </div>
</body>
</html>