<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"></meta>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>New User</title>
    <style>
        #wrapper{
            padding: 15px;
        }
        .col-md-6{
            display: inline-block;
            width: 400px;
        }
        h1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        #login{
            vertical-align: top;
        }
        #label{
            margin-right: 30px;
        }
    </style>
</head>
<body>
    <h1>Create User</h1>
    <form class="col-md-6" action="/create" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" class="form-control" name="age" id="age" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <a name="main" id="main" class="btn btn-link" href="/" role="button">Go Back</a>
</body>
</html>