<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"></meta>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Edit User</title>
</head>
<body>
        <h1>Edit user</h1>
    <form class="col-md-4" action="/users/update" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="">First Name:</label>
          <input type="text" class="form-control" name="first_name" id="first_name"  placeholder="{{ user.first_name }}" value="{{ user.first_name }}">
        </div>
        <div class="form-group">
          <label for="">Last Name</label>
          <input type="text" class="form-control" name="last_name" id="last_name" placeholder="{{ user.last_name }}" value="{{ user.last_name }}">
        </div>
        <div class="form-group">
          <label for="">Email Address</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="{{ user.email }}" value="{{ user.email }}">
        </div>
        <input type="hidden" id="id" name="id" value="{{ user.id }}">
        <button type="submit" class="btn btn-primary">Update</button>
    </form>  
    <a name="show" id="show" class="btn btn-link" href="/users/{{ user.id }}" role="button">Show</a> | <a name="main" id="main" class="btn btn-link" href="/" role="button">Go Back</a>
</body>
</html>